<h1>Colorpicker Home</h1>
<body id="color" background="red">
  <form action="/" id="dailyEvents">
    <select name="date">
      <% for i in 0...@NUM_DAYS %>
        <option name=<%= "\"" + i.to_s + "\"" %> value=<%= i.to_s %>><%= @search_days[i] %></option>
      <% end %>
    </select>
    <input type="submit" value="Set Background" />
  </form>

  <% cmd = "ls " + @search_days[0] + ".txt" %>
  <%= `#{cmd}`.strip + "!!!" + @search_days[0] + ".txt" %><br>
  <%= `#{cmd}`.strip == @search_days[0] + ".txt" %>
  <% cmd = "ls " + @search_days[1] + ".txt" %><br>
  <%= `#{cmd}` + " is ls for a file that isn't there" %>

  <!-- Now we wget if the date has not yet been added to the scraper -->
  <% tmp = params[:date] %>
  <% tmp = 0 if tmp.nil? %>
  <% tmp = tmp.to_i %>
  <% cmd = "ls " + @search_days[tmp] + ".txt" %>
  <%= "#" + `#{cmd}` + "#" %>
  <% if `#{cmd}` == "" %>
    <%= "(" + @search_days[tmp] + ")" %>
    <% cmd = "wget " + "http://www.villagevoice.com/concerts/#/date:" + @search_days[tmp] + "/" %><br>
    <% `#{cmd}` %><br>
    <% cmd = "mv index.html " + @search_days[tmp] + ".txt" %>
    <% `#{cmd}` %>
  <% end %> 
  <br><br>
  <%= @sections.length %><br>
  <% @sections.each do |s| %>
    <%= s.to_s %><br><br>
  <% end %>
</body>
