<h1>Colorpicker Home</h1>
<body id="color" background="red">
  <form action="/" id="dailyEvents">
    <select name="date">
      <% for i in 0...@NUM_DAYS %>
        <option name=<%= "\"" + i.to_s + "\"" %> value=<%= i.to_s %>><%= @search_days[i] %></option>
      <% end %>
    </select>
    <input type="submit" value="Set Background" />
  </form>

  <%= "http://www.villagevoice.com/concerts/#/date:" + @search_days[@d] + "/" %>
  <br><br>
  <%= @doc_string.to_s %>
</body>
