<h1>Colorpicker Home</h1>
<body id="color" background="red">
  <form action="/" id="dailyEvents">
    <select name="date">
      <% for i in 0...@NUM_DAYS %>
        <option name=<%= "\"" + i.to_s + "\"" %> value=<%= i.to_s %>><%= @search_days[i] %></option>
      <% end %>
    </select>
    <input type="submit" value="Set Background" />
  </form>

  <%= @events.length %><br>
  <% for i in 0..@events.length %>
    <a href=<%= @links[i] %>>Link to venue</a><br>
    <font color="red"><%= @addresses[i] %></font><br>
    <%= @events[i] %><br><br>
  <% end %>
</body>
